<!DOCTYPE html>
<html>
<head>
  <title>LFMConstellation</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "sigma.min.js" %>
  <%= javascript_include_tag "sigma.forceatlas2" %>
  <%= javascript_include_tag "sigma.zoom_filter" %>
</head>
<body>

<%= yield %>

</body>
</html>
